*{border: 0;}
.container-coin
{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.imagem
{
  height: 100%;
  width: 100%;
  background: url("https://t2.uc.ltmcdn.com/pt/posts/3/2/7/como_jogar_truco_20723_orig.jpg");
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  filter: opacity(50%);
}
ion-label{
  font-weight: bold;
  font-size: 2rem;
}

ion-col{
  text-align: center;
  display: flex;
  justify-content: center;
}

.top-menu{
  background-color: rgba($color: #FFFFFF, $alpha: 0.7);
  margin-bottom: 2rem;
  padding: 1rem;
}

ion-grid{
  margin: 0;
  padding:0;
  gap: 0;
}

ion-card{
  padding: 1rem;
}

.valendo{
  display: block;
  text-align: center;
  background-color: rgba($color: #FFFFFF, $alpha: 0.9);
  padding: 1rem;

}

.valendo>h1{
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: #8b8b8b;
}
