<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button shape="round">3</ion-button></ion-col>
        <ion-col><ion-button shape="round">9</ion-button></ion-col>
        <ion-col><ion-button shape="round">12</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button shape="round">+</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button shape="round">+</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button shape="round">7</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button shape="round">5</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button shape="round">-</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button shape="round">-</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button shape="round">TIME 1</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button shape="round">TIME 2</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button expand="block">RESET</ion-button></ion-col>
      </ion-row>


    </ion-grid>


  </div>
</ion-content>
